@font-face {
    font-family: 'Open Sans';
    src: url('./OpenSans-VariableFont_wdth\,wght.ttf') format("truetype-variations");
    font-weight: 1 999;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body {
    background-color: rgb(81, 82, 36);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 2em;
}

.header
    {
    width: 80vw;
    height: 20vh;
    background-color: beige;
    margin-top: 2em;
    background-color: rgb(81, 82, 36);
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
}


.headerImg > img {
    width: 80vw;
    border-radius: 20%;
    margin-bottom: 1em;
}

.headerMenu {
    display: flex;
    justify-content: center;
    gap: 1em;
    background-image: url(./moldyBg.jpg);
    border-radius: 20%;
}

.header img {
    width: 50px;
    height: 50px;
}

.headerMenu button {
    background-color: #62726e;
    border: none;
    padding: 0.9em;
    font-size: 1.2em;
    border-radius: 2em;
}

.headerMenu button::hover {
    background-color: rgba(224, 89, 26, 0.534);
}

.main {
    width: 80vw;
    height: 70vh;
    background-color: rgb(81, 82, 36);
}

.footer {
    width: 80vw;
    height: 6vh;
    background-color: beige;
    margin-bottom: 2vh;
}

