@font-face {
    font-family: 'Open Sans';
    src: url('./OpenSans-VariableFont_wdth\,wght.ttf') format("truetype-variations");
    font-weight: 1 999;
}

@font-face {
    font-family: 'Creepster';
    src: url(./Creepster-Regular.ttf);
}

@font-face {
    font-family: 'Eater';
    src: url(./Eater-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Eater', 'Open Sans', sans-serif;
}

body {
    background-color: rgb(81, 82, 36);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 2em;
}

.header
    {
    width: 80vw;
    height: 22vh;
    background-color: beige;
    margin-top: 2em;
    background-color: rgb(81, 82, 36);
    margin-bottom: 3em;
}

.headerImg > img {
    width: 80vw;
    border-radius: 20%;
    margin-bottom: 1em;
}

.headerMenu {
    display: flex;
    justify-content: center;
    gap: 1em;
    background-image: url(./moldyBg.jpg);
    border-radius: 1em;
}

.headerMenu img {
    width: 50%;
    height: 50px;
}

.headerMenu button {
    background-color: #62726e;
    border: none;
    padding: 0.4em;
    font-size: 1.2em;
    border-radius: 2em;
}

.headerBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerMenu button::hover {
    background-color: rgba(224, 89, 26, 0.534);
}

.main {
    width: 80vw;
    height: auto;
    background-color: rgb(81, 82, 36);
}

.main > p {
    font-size: 1.1em;
}

h2 {
    font-family: 'Creepster', 'Open Sans', sans-serif;
    font-size: 3em;
}

.footer {
    width: 80vw;
    height: 6vh;
    background-color: rgb(81, 82, 36);
    margin-bottom: 2vh;
}

